<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>About | Thank you Mr. Mykolyk!</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/font.css">
</head>
<body class="bg-gray-100 text-gray-900">
<h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
    Thank you Mr. Mykolyk!
</h2>
<p class="mt-2 text-center text-sm text-gray-600">
    This website is dedicated to Mr. Mykolyk, Introduction to Computer Science and Software Development teacher at Stuyvesant High School.
</p>
<p class="mt-2 text-center text-sm text-gray-600">
    This website was created with <a class="text-blue-500" href="https://www.tailwindcss.com/">Tailwind CSS</a>, <a class="text-blue-500" href="https://expressjs.com/">Express</a>, and <a class="text-blue-500" href="https://nodejs.org/en/">Node.js</a>.
</p>
<p class="mt-2 text-center text-sm text-gray-600">
    The source code is available on <a class="text-blue-500" href="https://
</body>
</html>