<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Thank you Mr. Mykolyk!</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/css/font.css">
</head>
<body class="bg-gray-100 text-gray-900">
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div>
            <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                Add your thank you note
            </h2>
        </div>
        <form class="mt-8 space-y-6" method="POST">
            <input type="hidden" name="remember" value="true">
            <!-- Area for error messages -->
            <% let err = locals.error || "" %>
            <% if (err.length > 0) { %>
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    <strong class="font-bold">Error!</strong>
                    <span class="block sm:inline"><%= error %></span>
                </div>
            <% } %>
            <!-- Name, testimonial, and verification -->
            <div class="rounded-md shadow-sm -space-y-px">
                <div>
                    <label for="name" class="sr-only">Name</label>
                    <input id="name" name="name" type="text" autocomplete="name" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Name">
                </div>
                <div>
                    <label for="testimonial" class="sr-only">Thank you note</label>
                    <textarea id="testimonial" name="testimonial" type="text" autocomplete="testimonial" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Thank you note (GitHub-flavored Markdown supported)"></textarea>
                </div>
                <div>
                    <label for="verification" class="sr-only">Verification</label>
                    <input id="verification" name="verification" type="password" autocomplete="verification" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Verification">
                </div>
            </div>

            <div>
                <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>